# Application Runtime Configuration
APP_NAME=AetherLink
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

#FrankenPHP Engine Configuration
FRANKENPHP_PORT=80
FRANKENPHP_HTTPS_PORT=443

#Database Infrastructure (PostgreSQL 17)
DB_CONNECTION=pgsql
DB_HOST=aether_db
DB_PORT=5432
DB_DATABASE=aetherlink_dev
DB_USERNAME=aether_admin
DB_PASSWORD=secret_developmemt_password