# Host Port Mappings (Docker Compose)
FRANKENPHP_PORT=80
FRANKENPHP_HTTPS_PORT=443

# PostgreSQL Container Provisioning
DB_DATABASE=aetherlink_dev
DB_USERNAME=aether_admin
DB_PASSWORD=secret_developmemt_password

# Redis Container Provisioning
REDIS_PASSWORD=secret_developmemt_password