# Application Runtime
APP_NAME=AetherLink
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

# PHP PDO Database Driver
DB_CONNECTION=pgsql
DB_HOST=aether_db
DB_PORT=5432
DB_DATABASE=aetherlink_dev
DB_USERNAME=aether_admin
DB_PASSWORD=secret_developmemt_password

# PHP Redis Connection
REDIS_HOST=aether_redis
REDIS_PORT=6379
REDIS_PASSWORD=secret_developmemt_password